body{
	margin: 0px;
	padding: 0px;
	background: #581845;
	justify-content: center;
	align-content: center;
	height: auto;
	width: 100%;
} 
  @media screen and (max-width: 768px padding-left: 1px max-height: 100kvh) {
    body {
      transform: scale(0.8); /* Zoom out for smaller screens */
    }
  }
.slider{
	width: 100%;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
}
.slides{
	width: 890%;
	height: 60%;
	display: flex;
}
.slides input{
	display: none;
}
.slide{
	width: 20%;
	transition: 2s;
}
.slide img{
	width: 80%;
	height: 600px;
}

.navigation-manual{
	position: absolute;
	width: 100%;
	margin-top: -40x;
	display: flex;
	justify-content: center;
}
.manual-btn{
	border: 2px solid #800000;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}
.manual-btn:not(:last-child){
	margin-right: 40px;
}
.manual-btn:hover{
	background: #800000;
}
#radio1:checked ~ .first{
	margin-left: 0%;
}
#radio2:checked ~ .first {
	margin-left: -20%;
}
#radio3:checked ~ .first {
	margin-left: -40%;
}
#radio4:checked ~ .first {
	margin-left: -60%;
}
#radio5:checked ~ .first {
	margin-left: -80%;
}
#radio6:checked ~ .first {
	margin-left: -100%;
}
#radio7:checked ~ .first {
	margin-left: -80%;
}
.navigation-auto{
		position: absolute;
	width: 100%;
	margin-top: -40px;
	display: flex;
	justify-content: center;
}
.navigation-auto div{
	display: none;
	border: 2px solid #800000;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 5s;
}
.manual-btn:not(:last-child){
	margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
	background: #80000;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
	background: #80000;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
	background: #80000;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
	background: #80000;
}

#radio5:checked ~ .navigation-auto .auto-btn5{
	background: #80000;
}

#radio6:checked ~ .navigation-auto .auto-btn6{
	background: #80000;
}
#radio7:checked ~ .navigation-auto .auto-btn7{
	background: #80000;
}
header{
	width: 100%;
	display: flex;
	background: #797979;
	  transform: scale(1); /* Initial scale */
    transition: transform 0.5s ease-in-out; /* Add smooth transition */
}
span{
	padding-left: 5px;
}
a{
	color: white;
}